*.csv
*.sql
ALB_DATASET_IFREMER.xlsx
ALB_IOTC_HISTORICAL_DATASET.csv
ALB_IOTC_ROS22_DATASET.xlsx
ALB_IOTC_ROS23_DATASET.xlsx
ALB_FORK_LENGTH_ROUND_WEIGHT_DATASET_CWP55_OLD.csv
ALB_FORK_LENGTH_ROUND_WEIGHT_DATASET_CWP11.csv
ALB_FORK_LENGTH_ROUND_WEIGHT_DATASET_CWP55.csv
ALB_FORK_LENGTH_ROUND_WEIGHT_DATASET_CWP11_OLD.csv
ALB_MORPHOMETRIC_DATASET_IRD_UOM.csv

